* text=auto

*.html text
*.css text
*.js text
*.txt text
*.xml text
*.json text
*.md text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary
*.woff binary
*.woff2 binary
*.pdf binary
